<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FreightEstApp35.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <add key="RemoteServerName" value="SANDBOX"/>
    <add key="LogFileName" value="FreightEstApp35.log"/>
  </appSettings>
    <applicationSettings>
        <FreightEstApp35.Properties.Settings>
            <setting name="FreightEstApp35_UpsAddressValidationWebReference_XAVService"
                serializeAs="String">
                <value>https://wwwcie.ups.com/webservices/XAV</value>
            </setting>
            <setting name="FreightEstApp35_UpsRateWebReference_RateService"
                serializeAs="String">
                <value>https://wwwcie.ups.com/webservices/Rate</value>
            </setting>
            <setting name="FreightEstApp35_FreightRateWebReference_FreightRateService"
                serializeAs="String">
                <value>https://wwwcie.ups.com/webservices/FreightRate</value>
            </setting>
        </FreightEstApp35.Properties.Settings>
        
    </applicationSettings>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="SoapTrace.TraceExtension, SoapTrace" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
</configuration>
